-
  var reviewsItems = [
    {
      "author": "Владислав Эрнберг",
      "occupation": "Архитектор",
      "text": "Что такое обеденный стол? Предмет мебели, функциональное дополнение кухни или гостиной? Я думаю, что это больше, чем часть интерьера. Мы видим процесс объединения семьи, радость от встречи с любимым человеком, умиление над детскими выходками... всё это остаётся в памяти как лучшие из моментов. Мы видим, как стареют поколения и рождаются новые люди в нашем “клане”. И каждый, - разный, особенный.... здесь, за обеденным столом. Почему я об этом? <span class='bold'>Target Point®</span>, - это  как раз про историю, про то, что мы ощущаем, а не просто про дизайн."
    },
    {
      "author": "Ирина Сумбайская",
      "occupation": "Домохозяйка, блогер",
      "text": "Итальянский бренд <span class='bold'>Target Point®</span> покорил меня сразу: идеальные формы, гладкие поверхности, элегантные изгибы и современные цвета дают волю воображению для декорирования Вашего дома или квартиры. Футуристичные формы совмещаются с классическими материалами, поэтому такая мебель может быть хорошо “вписана” в любой интерьер. Больше всего мне нравится удобство: я назначаю встречу в шоу-руме, мы выбираем модель и цветовое решение и всё! Через несколько недель высококвалифицированные рабочие сделают качественную сборку у меня дома! Это идеально и просто!",
    },
    {
      "author": "Игорь Волевой",
      "occupation": "Автогонщик, бизнесмен",
      "text": "В дизайне, как и в автомобилях, я предпочитаю современный стиль. С другой стороны, можно смело сказать, что я человек “старой закалки”. Семья, порядок в доме, точный и эффективный бизнес и активные виды спорта, - вот составляющие моей жизни. Именно поэтому, я выбрал бренд <span class='bold'>Target Point®</span>. В мебели этого итальянского бренда сочетается всё что я люблю: современные изгибы как отражение динамики и прочные качественные материалы, - как дань традициям. Думаю, что нельзя размениваться на меньшее."
    }
  ]

section(id="reviews").reviews
  +title("Отзывы покупателей")
  .container
    .reviews__slider.reviews-slider
      each item, index in reviewsItems
        div
          .reviews-slider__photo
            img(src="img/reviews/review-" + index + ".jpg", alt="Фотография")
            .reviews-slider__desktop-block    
              p.reviews-slider__author= item.author
              p.reviews-slider__occup= item.occupation
          .reviews-slider__descr
            .reviews-slider__mobile-block
              p.reviews-slider__author= item.author
              p.reviews-slider__occup= item.occupation
            p.reviews-slider__text!= item.text
