-
  var reviewsItems = [
    {
      "author": "Владислав Эрнберг",
      "occupation": "Архитектор",
      "text": "Мне, как дизайнеру интерьера и архитектору, больше всего нравится работать над комплексными проектами: загородные дома, офисы, рестораны. Приятно осознавать, что клиенты становятся более требовательными к деталям и мелочам, и в этом я с ними солидарен: если ты решил сделать загородный дом в современном стиле и уже выбрал итальянскую мебель, то нет смысла размениваться в оформлении бытовых помещений: прачечные, комнаты для хозяйственных нужд и кладовые, - всё должно соответствовать основной линии интерьера. И в этом направлении, мебель <span class='bold'>Birex®</span> - мой фаворит!"
    },
    {
      "author": "Ирина Сумбайская",
      "occupation": "Домохозяйка, блогер",
      "text": "<span class='bold'>Birex®</span> мне понравился сразу. Хорошо, что в Петербурге я быстро нашла представительство этого бренда. В самом центре, недалеко от метро Площадь Восстания. Красивая и стильная мебель решила мои проблемы: кладовая и прачечная больше не выглядят как хаос, в котором можно потеряться! Если Вы сомневаетесь в выборе, просто посмотрите модели в шоу-руме! Я довольна тем, что всё на своих местах! Итальянское качество ещё ни в одной из квартир не было лишним!",
    },
    {
      "author": "Игорь Волевой",
      "occupation": "Автогонщик, бизнесмен",
      "text": "Я не привык размениваться в мелочах и в принципе. Хороший дом и квартира, - это не роскошь, а норма для делового человека. Мебель <span class='bold'>Birex®</span> выбирал сам, так как люблю порядок во всём: в гардеробной, в ванной, в прачечной и кладовой - везде должно быть чисто и комфортно, - это мой стиль. <span class='bold'>Birex®</span> хорош в цветовой гамме и безупречном качестве. Спортивный инвентарь просто идеально помещается в эти лаконичные шкафы. Рекомендую. Просто. Качественно. Красиво."
    }
  ]

section(id="reviews").reviews
  +title("Отзывы покупателей")
  .container
    .reviews__slider.reviews-slider
      each item, index in reviewsItems
        div
          .reviews-slider__photo
            img(src="img/reviews/review-" + index + ".jpg", alt="Фотография")
            .reviews-slider__desktop-block    
              p.reviews-slider__author= item.author
              p.reviews-slider__occup= item.occupation
          .reviews-slider__descr
            .reviews-slider__mobile-block
              p.reviews-slider__author= item.author
              p.reviews-slider__occup= item.occupation
            p.reviews-slider__text!= item.text
